<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-newDevoured="{{devour}}">
		{{#if devour}}Devour?{{else}}Throw Up!{{/if}}
	</button>

    <button class="delete-burger" data-id="{{id}}" >
		X
	</button>

</li>
